@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      .app-logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        height: 40px;
        
        img {
          height: 100%;
          width: auto;
          object-fit: contain;
          margin-right: 10px;
        }
      }

      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("logo");
      }

      .nav-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        transition: background-color 0.2s;
        
        &:hover {
          background-color: themed("bgSoft");
        }
        
        &.active {
          background-color: themed("bgSoft");
          color: themed("primary");
        }
        
        &.small-icon {
          width: 24px;
          height: 24px;
          
          svg {
            font-size: 18px;
          }
        }
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;
        background-color: themed("bgSoft");

        input {
          border: none;
          width: 500px;
          background-color: transparent;
          color: themed("textColor");

          &:focus {
            outline: none;
          }
          
          &::placeholder {
            color: themed("textColorSoft");
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;
      
      .nav-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        transition: all 0.2s ease;
        
        &:hover {
          background-color: themed("bgSoft");
        }
        
        &.active {
          background-color: themed("bgSoft");
          color: themed("primary");
        }
        
        &.theme-toggle {
          color: themed("textColor");
          background-color: themed("bgSoft");
          
          &:hover {
            transform: rotate(15deg);
            background-color: themed("bgSoftActive");
          }
        }
        
        &.small-icon {
          width: 24px;
          height: 24px;
          
          svg {
            font-size: 18px;
          }
        }
        
        .notification-badge {
          position: absolute;
          top: -5px;
          right: -5px;
          background-color: #e74c3c;
          color: white;
          border-radius: 50%;
          width: 16px;
          height: 16px;
          font-size: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
          border: 1px solid themed("border");
        }

        span {
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
    }
  }
}
